<?xml version="1.0"?>
<!--
/**
 * Copyright © 2008-2025 Tux Web Design. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config>
    <modules>
        <TuxWeb_PickupShipping>
            <version>0.1.5</version>
        </TuxWeb_PickupShipping>
    </modules>
    <global>
        <helpers>
            <tuxweb_pickupshipping>
                <class>TuxWeb_PickupShipping_Helper</class>
            </tuxweb_pickupshipping>
        </helpers>
        <models>
            <tuxweb_pickupshipping>
                <class>TuxWeb_PickupShipping_Model</class>
                <resourceModel>tuxweb_pickupshipping_resource</resourceModel>
            </tuxweb_pickupshipping>

            <tuxweb_pickupshipping_resource>
                <class>TuxWeb_PickupShipping_Model_Resource</class>
                <entities>
                    <province>
                        <table>pickupshipping_province</table>
                    </province>
                </entities>
            </tuxweb_pickupshipping_resource>
        </models>
        <resources>
            <tuxweb_pickupshipping_setup>
                <setup>
                    <module>TuxWeb_PickupShipping</module>
                    <class>TuxWeb_PickupShipping_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </tuxweb_pickupshipping_setup>
        </resources>
        <events>
             <controller_action_predispatch_checkout_onepage_index>
                <observers>
                    <pickupshipping_checkpickup>
                        <class>tuxweb_pickupshipping/observer</class>
                        <method>checkPickupAvailability</method>
                    </pickupshipping_checkpickup>
                </observers>
            </controller_action_predispatch_checkout_onepage_index>
            <checkout_shipping_collect_rates_before>
                <observers>
                    <pickupshipping_restrict_shipping>
                        <class>tuxweb_pickupshipping/observer</class>
                        <method>filterShippingMethods</method>
                    </pickupshipping_restrict_shipping>
                </observers>
            </checkout_shipping_collect_rates_before>
            <sales_order_place_before>
                <observers>
                    <pickupshipping_order_check>
                        <class>tuxweb_pickupshipping/observer</class>
                        <method>validateOrder</method>
                    </pickupshipping_order_check>
                </observers>
            </sales_order_place_before>
        </events>
    </global>
    <default>
        <carriers>
            <pickupshipping>
                <active>1</active>
                <model>TuxWeb_PickupShipping_Model_Carrier_Pickup</model>
                <title>Ritiro in sede</title>
                <name>Ritiro in sede</name>
                <sallowspecific>0</sallowspecific>
                <sort_order>0</sort_order>
            </pickupshipping>
        </carriers>
    </default>
</config>